html
    head
        title #{title}
        link(rel='stylesheet', href='stylesheets/style.css')
        link(rel='stylesheet', href='stylesheets/vis.css')
        script(type='text/javascript' src='javascripts/jquery-2.1.4.js')
        //- script(type='text/javascript' src='javascripts/vis.js')
        script(type='text/javascript' src='javascripts/vivagraph.js')
        script(type='text/javascript' src='javascripts/graphDrawerSvg.js')
    body
        .content
            .buttons
                .parseButton
                    .label Parse
                .graphButton
                    .label Graph
            .nodeInfo
        script.
            $( document ).ready(function() {
                $('.parseButton').on('click', function(){
                        $.get('/parsing', function(data){
                                //- $('#results').html(data);
                        });
                });

                $('.graphButton').on('click', function(){
                        var startNodeUrl = 'http://belov.hol.es/'; //'http://sport.rggu.ru/';
                        $.get('/graph', function(data){ graphDrawer(data, startNodeUrl)});
                });
            });
