html
	head
		title #{title}
	body
		p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt aperiam culpa, laudantium ab quaerat, eveniet itaque adipisci optio cumque unde eum sunt dolor at voluptatem corporis aliquam, laborum tenetur suscipit.